xdiv { border:solid 1px #ccc; margin: 010px;}
* { font-family: Arial, Helvetica, sans-serif;}
body {  margin:0;}
#wrapper {background:url(images/deg-back.jpg) repeat-x top center}
#bor-der { margin: 0 10px; background:url(images/deg-der.jpg) no-repeat 988px 137px }
#bor-izq {background:url(images/deg-izq.jpg) no-repeat 0 137px}
#inner-wrap { margin:0 auto; width: 1028px; background:url(images/banner.jpg) no-repeat top center;}
#banner-img { height: 133px;}
#banner-txt { height: 120px; font-size: 20px; color:#FFFFFF; margin: 0 20px;}
#user-info { text-align:right; background:#FFFFFF; margin:0 20px; font-size:10px; font-weight: bold; padding: 8px;}
#content { background:#FFFFFF; margin:0 20px; }
#footer { text-align:center; background: url(images/pie-back.jpg) repeat-x center bottom;}
#footer-in { text-align:center; background: url(images/pie-der.jpg) no-repeat bottom right; height: 80px; vertical-align:bottom;}
#footer-out { text-align:center; background: url(images/pie-izq.jpg) no-repeat bottom left;}
#footer-in p { line-height:80px; font-size:12px;}

.clear {clear: both;}
h2 {margin: 0; padding:0; line-height: 35px; display:block; border-bottom: solid 1px #006699; color:#006699; font-size: 24px;}
/*formulario*/
label { padding:10px; float:left;}
label b { margin:0 15px 0 0; width:165px;float:left;}
textarea, select, input {float:left; font-size:12px;}
br { clear:both;}

#menu { height:36px; border-bottom: 3px solid #006699; font-size: 12px; background:url(images/menu.gif) bottom left repeat-x; padding: 0 20px; margin: 0 20px;}
#menu ul{ margin:0; padding:0;}
#menu li { margin:0; padding:0 5px; list-style:none; display:inline; height:36px;}
#menu li a { text-decoration:none;  line-height: 36px; color:#000; font-weight: bold;}
#menu li a:hover { color: #fff;}
.active-item a { background:url(images/menu.gif) top left repeat-x; padding:11px 10px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;}

.insert-preview-thumbs { float:left; width: 130px; padding:5px; margin: 0 0 0 10px; background: #f2f6fb; font-size:12px;}
.media-kind { background-repeat:no-repeat; background-position: right top; height: 18px;}
.thumb-image { height:120px; background-position:center center; background-repeat: no-repeat; border: 1px solid #efefef; margin: auto;}
.thumb-imaName { font-weight:bold; font-style:italic;}
.thumb-text1, .thumb-text2 { font-size:10px; }
.thumb-date { font-size:9px;}
.media-kind, .thumb-imaName, .thumb-text1, thumb-text2, .thumb-date, { display: inline; overflow:auto; height:20px;position: fixed;asz}

.imagesRightPanel { float:left; width: 130px; margin: 10px; height: 230px;}
/*.imagesRightPanel:hover {border: solid gray 1px}*/


/*imprtar imagenes*/
.ImportControlDTOFull { font-size:12px; margin: 20px 0;}

.ImportControlDTOFull .name {width: 40%;}
.ImportControlDTOFull .status {width: 20%;}
.ImportControlDTOFull .date {width: 10%;}
.ImportControlDTOFull .download {width: 30%;}

.ImportControlDTOFull td {
    height: 15px;
    overflow: hidden;
    padding: 2px 3px;
    margin:0;
    vertical-align: top;
}
.ImportControlDTOFull .odd { background-color: #e6eef1;}
.ImportControlDTOFull .even {}


/******************************************
/* Edit
*******************************************/
.edit-preview-thumbs { float: right; width: 130px; padding:5px; position: absolute; margin: 20px 0 0 740px; background: #f2f6fb; font-size:12px;}
/******************************************
/* Media Profile
*******************************************/

.profile-media{
  float:left;
  /*background-color: #E8EEF7;*/
  margin: 10px;
  border: 1px solid #516AA0;
  width: 100%;
}

.profile-bigMedia{
    /*height:396px;*/ 
    width:396px;
    background-position: center center; 
    background-repeat:no-repeat; 
    margin:2px;	
}

.profile-thumbMedia{
	height:196px;
	width:196px;  
    background-position: center center; 
    background-repeat:no-repeat; 
    margin:2px;
}

