/******************************************
/* Widgets. Galleries Package CSS's
*******************************************/

.thumb-image {
	height:166px; 
	background-position: center center; 
	background-repeat:no-repeat; 
	margin:2px;
}

.imagesRightPanel {
	float:left;
	background-color: #E8EEF7;
	margin: 10px;
	border: 1px solid #516AA0;
	width:170px;
}

.imagesWidget {
	float: left;
	z-index: auto;
	margin: 5px;
	/*background-color: #E8EEF7;*/
	background-color: #FFFFFF;
}

.imaName {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	display: block;
	margin: 2px;
}

.imaInfo { /* background-color: #FFFFFF;*/
	border: 1px solid #516AA0;
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 1px;
	padding: 2px;
}

.layoutImages {
	border: 1px solid #516AA0;
	cursor: pointer;
	cursor: hand;
}

.resultsPerPage-Text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.pagination-text {
	cursor: pointer;
	cursor: hand;
}


.searchCriteria-generalText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 5px;
}

.searchCriteria-specificText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 5px;
}


.opacar-pantalla {
	background-color: #000000;
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;	
}