<?xml version="1.0" encoding="UTF-8"?>
<!-- Defines the Spring Configuration for the Service Layer Managers -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

<!-- Agent Manager's (3 versiones)-->
  <bean id="M3SAgentManager" class="org.inbio.m3s.service.impl.AgentManagerImpl">
    <property name="institutionDAO" ref="M3SInstitutionDAO"/>
    <property name="institutionLiteDTOFactory" ref="institutionLiteDTOFactory"/>
    <property name="personDAO" ref="M3SPersonDAO"/>
    <property name="personLiteDTOFactory" ref="personLiteDTOFactory"/>    
  </bean>

<!-- ImportationManagers (1 version)-->
  <bean id="importationManager" class="org.inbio.m3s.service.impl.ImportationManagerImpl">
    <property name="importControlDAO" ref="importControlDAO"/>
    <property name="importControlFullDTOFactory" ref="importControlFullDTOFactory"/>
    <property name="importControlLiteDTOFactory" ref="importControlLiteDTOFactory"/>
  </bean>

<!-- Media Attribute (1 version)-->
  <bean id="mediaAttributeManager" class="org.inbio.m3s.service.impl.MediaAttributeManagerImpl">
    <property name="mavDAO" ref="mediaAttributeValueDAO"/>
    <property name="mavFullDTOFactory" ref="mediaAttributeValueFullDTOFactory"/>
    <property name="mediaDAO" ref="mediaDAO"/>
	<property name="maDAO" ref="mediaAttributeDAO"/>     
  </bean>

<!-- Media Attribute (3 versiones)-->  

   
  <!-- Message Manager (1 version)  -->
  <bean id="messageManager" class="org.inbio.m3s.service.impl.MessageManagerImpl">
  	<property name="keywordDAO" ref="keywordDAO"/>
    <property name="textTranslationDAO" ref="textTranslationDAO"/>
    <property name="mediaTypeDAO" ref="mediaTypeDAO"/>
    <property name="usePolicyDAO" ref="usePolicyDAO"/>
    <property name="mediaCategoryDAO" ref="mediaCategoryDAO"/>
    <property name="projectDAO" ref="projectDAO"/>
    <property name="mediaUseDAO" ref="mediaUseDAO"/>
    <property name="projectDTOFactory" ref="projectDTOFactory"/>    
  </bean>


  <bean id="myUserDetailsService" class="org.inbio.m3s.service.impl.UserDetailsManagerImpl" >
    <property name="systemUserDAO" ref="systemUserDAO"/>
  </bean>
  
  <!-- SiteManager (2 version)-->

  <!-- statisticsManager (1 version)-->
  <bean id="statisticsManager" class="org.inbio.m3s.service.impl.StatisticsManagerImpl">
    <property name="statisticsDAO" ref="statisticsDAO"/>
  </bean>

<!-- taxonomy Manager (3 versiones)-->
  
  
<!-- importFromFile (3 versiones, ¿¿seran mas??)-->  

  
<!-- importThread (1 versiones, seran 3)-->  
		
<!-- AutoComplete Managers -->		
  <bean id="projectNameAutoCompleteManager" class="org.inbio.m3s.service.autocomplete.impl.ProjectNameAutoCompleteManagerImpl">
    <property name="projectDAO" ref="projectDAO"/>
  </bean>
  <bean id="keywordAutoCompleteManager" class="org.inbio.m3s.service.autocomplete.impl.KeywordAutoCompleteManagerImpl">
    <property name="keywordDAO" ref="keywordDAO"/>
  </bean>

	
</beans>
