<?xml version="1.0" encoding="UTF-8"?>
<!-- Defines the Spring Configuration for the Service Layer Managers -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

<!-- Agent Manager's (3 versiones)-->
  <bean id="ATTAAgentManager" class="org.inbio.m3s.service.impl.AgentManagerImpl">
    <property name="institutionDAO" ref="INBioInstitutionDAO"/>
    <property name="institutionLiteDTOFactory" ref="institutionLiteDTOFactory"/>
    <property name="personDAO" ref="INBioPersonDAO"/>
    <property name="personLiteDTOFactory" ref="personLiteDTOFactory"/>    
  </bean>

  <!-- Metadata Manager (3 version)-->  
  <bean id="ATTAMetadataManager" class="org.inbio.m3s.service.impl.MetadataManagerImpl">
    <!-- dao  y dto factories-->
    <property name="mediaDAO" ref="mediaDAO"/>
    <property name="mediaProjectDAO" ref="mediaProjectDAO"/>
    <property name="mediaKeywordDAO" ref="mediaKeywordDAO"/>
    <property name="mediaUseDAO" ref="mediaUseDAO"/>
    
    <property name="mediaUseMediaDAO" ref="mediaUseMediaDAO"/>
    <property name="taxonMediaDAO" ref="taxonMediaDAO"/>
    <property name="gatheringMediaDAO" ref="gatheringMediaDAO"/>
    <property name="specimenMediaDAO" ref="specimenMediaDAO"/>

    <property name="observationMediaDAO" ref="observationMediaDAO"/>
    <property name="mediaAttributeDAO" ref="mediaAttributeDAO"/>
    <property name="textTranslationDAO" ref="textTranslationDAO"/>
    <property name="mediaAttributeTypeDAO" ref="mediaAttributeTypeDAO"/>
    
    <property name="mediaAttributeValueDAO" ref="mediaAttributeValueDAO"/>
    <property name="projectDAO" ref="projectDAO"/>
    <property name="projectDTOFactory" ref="projectDTOFactory"/>                
    <property name="keywordDAO" ref="keywordDAO"/>

    <property name="briefMediaOutputDTOFactory" ref="ATTABriefMediaOutputDTOFactory"/>

    <!-- Managers -->
    <property name="agentManager" ref="ATTAAgentManager"/>
    <property name="taxonomyManager" ref="ATTATaxonomyManager"/>
    
  </bean>
  <!-- Metadata Manager (3 version)-->  
  <bean id="M3SMetadataManager" class="org.inbio.m3s.service.impl.MetadataManagerImpl">
    <!-- dao  y dto factories-->
    <property name="mediaDAO" ref="mediaDAO"/>
    <property name="mediaProjectDAO" ref="mediaProjectDAO"/>
    <property name="mediaKeywordDAO" ref="mediaKeywordDAO"/>
    <property name="mediaUseDAO" ref="mediaUseDAO"/>
    
    <property name="mediaUseMediaDAO" ref="mediaUseMediaDAO"/>
    <property name="taxonMediaDAO" ref="taxonMediaDAO"/>
    <property name="gatheringMediaDAO" ref="gatheringMediaDAO"/>
    <property name="specimenMediaDAO" ref="specimenMediaDAO"/>

    <property name="observationMediaDAO" ref="observationMediaDAO"/>
    <property name="mediaAttributeDAO" ref="mediaAttributeDAO"/>
    <property name="textTranslationDAO" ref="textTranslationDAO"/>
    <property name="mediaAttributeTypeDAO" ref="mediaAttributeTypeDAO"/>
    
    <property name="mediaAttributeValueDAO" ref="mediaAttributeValueDAO"/>
    <property name="projectDAO" ref="projectDAO"/>
    <property name="projectDTOFactory" ref="projectDTOFactory"/>                
    <property name="keywordDAO" ref="keywordDAO"/>

    <!-- Managers -->
    <property name="agentManager" ref="M3SAgentManager"/>
    <property name="taxonomyManager" ref="M3STaxonomyManager"/>
  </bean>  
  
  <!--  SearchManager -->
  <bean id="ATTASearchManager" class="org.inbio.m3s.service.impl.SearchManagerImpl">
    <property name="genericSearchDAO" ref="genericSearchDAO"/>
    <property name="keywordDAO" ref="keywordDAO"/>
    <property name="projectDAO" ref="projectDAO"/>
    <property name="agentManager" ref="ATTAAgentManager"/>
    <property name="messageManager" ref="messageManager"/>  
    <property name="taxonomyManager" ref="ATTATaxonomyManager"/>
  </bean>  
    
  <!-- SiteManager (2 version)-->
  <bean id="ATTASiteManager" class="org.inbio.m3s.service.impl.SiteManagerImpl">
  	<property name="taxonomyManager" ref="ATTATaxonomyManager"/>
  	<property name="siteDAO" ref="INBioSiteDAO"/>
  </bean>

  <!-- statisticsManager (1 version)-->
  <bean id="statisticsManager" class="org.inbio.m3s.service.impl.StatisticsManagerImpl">
    <property name="statisticsDAO" ref="statisticsDAO"/>
  </bean>

<!-- taxonomy Manager (3 versiones)-->
  <bean id="ATTATaxonomyManager" class="org.inbio.m3s.service.impl.TaxonomyManagerImpl">
    <property name="taxonDAO" ref="INBioTaxonDAO"/>
    <property name="tlDTOFactory" ref="taxonLiteDTOFactory"/>
    <property name="gatheringMediaDAO" ref="gatheringMediaDAO"/>
	<property name="personDAO" ref="INBioPersonDAO"/>
    <property name="plDTOFactory" ref="personLiteDTOFactory"/>
    <property name="agentManager" ref="ATTAAgentManager"/>
    <property name="specimenDAO" ref="INBioSpecimenDAO"/>
    <property name="slDTOFactory" ref="specimenLiteDTOFactory"/>
    <property name="specimenMediaDAO" ref="specimenMediaDAO"/>
    <property name="observationMediaDAO" ref="observationMediaDAO"/>
    <property name="olDTOFactory" ref="observationLiteDTOFactory"/>
    <property name="taxonMediaDAO" ref="taxonMediaDAO"/>
  </bean>
  <!-- este es para el museo nacional!!! -->
  <bean id="M3STaxonomyManager" class="org.inbio.m3s.service.impl.TaxonomyManagerImpl">
    <property name="taxonDAO" ref="INBioTaxonDAO"/>
    <property name="tlDTOFactory" ref="taxonLiteDTOFactory"/>
    <property name="gatheringMediaDAO" ref="gatheringMediaDAO"/>
	<property name="personDAO" ref="M3SPersonDAO"/>
    <property name="plDTOFactory" ref="personLiteDTOFactory"/>
    <property name="agentManager" ref="M3SAgentManager"/>
    <property name="specimenDAO" ref="INBioSpecimenDAO"/>
    <property name="slDTOFactory" ref="specimenLiteDTOFactory"/>
    <property name="specimenMediaDAO" ref="specimenMediaDAO"/>
    <property name="observationMediaDAO" ref="observationMediaDAO"/>
    <property name="olDTOFactory" ref="observationLiteDTOFactory"/>
    <property name="taxonMediaDAO" ref="taxonMediaDAO"/>
  </bean>  

<!-- importFromFile (2 versiones, ¿¿seran mas??)-->  
  <bean id="ATTAImportFromFile" class="org.inbio.m3s.service.util.ImportFromFile">
    <!-- daos -->
    <property name="siteDAO" ref="INBioSiteDAO"/>
    <!-- managers -->
    <property name="taxonomyManager" ref="ATTATaxonomyManager"/>
    <property name="siteManager" ref="ATTASiteManager"/>
    <property name="agentManager" ref="ATTAAgentManager"/>
    <property name="messageManager" ref="messageManager"/>  
    <property name="metadataManager" ref="ATTAMetadataManager"/>
    <!-- util -->
    <property name="mediaFileManagement" ref="mediaFileManagement"/>
  </bean>  
  <bean id="M3SImportFromFile" class="org.inbio.m3s.service.util.ImportFromFile">  	
  	<!-- daos -->
  	<property name="siteDAO" ref="INBioSiteDAO"/>
  	<!-- managers -->
  	<property name="taxonomyManager" ref="M3STaxonomyManager"/>
  	<property name="siteManager" ref="ATTASiteManager"/>
    <property name="agentManager" ref="M3SAgentManager"/>
    <property name="messageManager" ref="messageManager"/>
    <property name="metadataManager" ref="M3SMetadataManager"/>
    <!-- util -->
  	<property name="mediaFileManagement" ref="mediaFileManagement"/>
  </bean>  
  
<!-- importThread (1 versiones, seran 3)-->  
  <bean id="ATTAImportThread" class="org.inbio.m3s.service.util.ImportThread">
    <property name="importationManager" ref="importationManager"/>
    <property name="importFromFile" ref="ATTAImportFromFile"/>
  </bean>
  
  <!-- AutoComplete Managers -->
  <bean id="ATTAInstitutionNameAutoCompleteManager" class="org.inbio.m3s.service.autocomplete.impl.InstitutionNameAutoCompleteManagerImpl">
    <property name="institutionDAO" ref="INBioInstitutionDAO"/>
  </bean>
  <bean id="ATTAPersonNameAutoCompleteManager" class="org.inbio.m3s.service.autocomplete.impl.PersonNameAutoCompleteManagerImpl">
    <property name="personDAO" ref="INBioPersonDAO"/>
  </bean>
  <bean id="ATTATaxonNameAutoCompleteManager" class="org.inbio.m3s.service.autocomplete.impl.TaxonNameAutoCompleteManagerImpl">
    <property name="taxonDAO" ref="INBioTaxonDAO"/>
  </bean>
  
  <!--  BriefMediaOutputDTOFactory/Service -->
  <bean id="ATTABriefMediaOutputDTOFactory" class="org.inbio.m3s.dto.media.BriefMediaOutputDTOFactory">
    <property name="taxonomyManager" ref="ATTATaxonomyManager"/>
    <property name="agentManager" ref="ATTAAgentManager"/>
  </bean>
  
	<!-- DTO Factories -->
	<bean id="institutionLiteDTOFactory" class="org.inbio.m3s.dto.agent.InstitutionLiteDTOFactory"/>
	<bean id="personLiteDTOFactory" class="org.inbio.m3s.dto.agent.PersonLiteDTOFactory"/>
	<bean id="importControlFullDTOFactory" class="org.inbio.m3s.dto.importcontrol.ImportControlDTOFullFactory"/>
	<bean id="importControlLiteDTOFactory" class="org.inbio.m3s.dto.importcontrol.ImportControlDTOLiteFactory"/>
	<bean id="mediaAttributeValueFullDTOFactory" class="org.inbio.m3s.dto.mediaattribute.MediaAttributeValueFullDTOFactory"/>
	<bean id="specimenLiteDTOFactory" class="org.inbio.m3s.dto.taxonomy.SpecimenLiteDTOFactory"/>
	<bean id="taxonLiteDTOFactory" class="org.inbio.m3s.dto.taxonomy.TaxonLiteDTOFactory"/>
	<bean id="observationLiteDTOFactory" class="org.inbio.m3s.dto.taxonomy.ObservationLiteDTOFactory"/>
	<bean id="projectDTOFactory" class="org.inbio.m3s.dto.message.ProjectDTOFactory"/>
		
	
</beans>
